@mixin sprite-width($sprite) {
width: nth($sprite, 3);
}

@mixin sprite-height($sprite) {
height: nth($sprite, 4);
}

@function sprite-width($sprite) {
@return nth($sprite, 3)-8px;
}

@function sprite-height($sprite) {
@return nth($sprite, 4)-8px;
}

@mixin sprite-position($sprite) {
$sprite-offset-x: nth($sprite, 1)-4px;
$sprite-offset-y: nth($sprite, 2)-4px;
background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite($sprite, $display: block) {
@include sprite-position($sprite);
background-repeat: no-repeat;
overflow: hidden;
display: $display;
// @include sprite-width($sprite);
// @include sprite-height($sprite);
width:sprite-width($sprite);
height:sprite-height($sprite);
}
        $icon-close: -0px -0px 20px 21px;
        .icon-close{
        &:before {
        @include sprite($icon-close,inline-block);
        }
        }
        $icon-error: -0px -21px 48px 48px;
        .icon-error{
        &:before {
        @include sprite($icon-error,inline-block);
        }
        }
        $icon-success: -0px -69px 48px 48px;
        .icon-success{
        &:before {
        @include sprite($icon-success,inline-block);
        }
        }
        $icon-undo: -0px -117px 48px 48px;
        .icon-undo{
        &:before {
        @include sprite($icon-undo,inline-block);
        }
        }
        $icon-warning: -0px -165px 58px 59px;
        .icon-warning{
        &:before {
        @include sprite($icon-warning,inline-block);
        }
        }

    .gx-icon{
    // display: inline-flex;
    // align-items: center;
    // vertical-align: middle;
    vertical-align: middle;
    display: inline-block;
    }

        .gx-icon:before {
        background-image: url('../../images/sprite.png');
        content:'';
        margin:auto;
        }

