extends layouts/defaultLayout
block stylesheets
    link(href=relativeRoot+"../css/common/index.min.css",type="text/css",rel="stylesheet")
block content
    div 123
        i.gx-icon.icon-success
        i.gx-icon.icon-warning
        i.gx-icon.icon-error
        i.gx-icon.icon-undo
        i.gx-icon.icon-close