extends ../../layouts/managerLayout
block stylesheets
    link(href=relativeRoot + "../js/lib/lightbox/css/lightbox.css",type="text/css",rel="stylesheet")
block content
    .white-bg.pd-20.mt-20.mb-20
        .section-title 各种弹窗
        .mt-20.pane-blue.pd-20
            .ui-row-sm.no-margin
                a.sec-blue-link#findpwd 忘记密码1
                a.sec-blue-link.ml-50#updateEmail 修改邮箱2
            .ui-row-sm.no-margin.mt-10
                a.sec-blue-link#changePwd 修改密码3
                a.sec-blue-link.ml-50#updatePhone 修改手机号码
            .ui-row-sm.no-margin.mt-10
                a.sec-blue-link#smrz 实名认证
            hr.mt-10(style="border: 1px dashed #ccc;")
            .ui-row-sm.no-margin.mt-10
                a.sec-blue-link#window1 接受报价
                a.sec-blue-link.ml-50#window2 拒绝报价
                a.sec-blue-link.ml-50#window3 注册成功
                a.sec-blue-link.ml-50#window4 撤销订单

    script#findpwdModal(type='text/ractive')
        .popup-box
            .popup-form
                .ui-row-sm
                    label.ui-col-3.no-padding.sec-required 手机号：
                    .ui-col-9
                        input(type="text", placeholder="请输入手机号").input-full
                .ui-row-sm
                    label.ui-col-3.no-padding.sec-required 验证码：
                    .ui-col-9
                        .ui-col-7.no-padding
                            input(type="text", placeholder="请输入验证码").input-full
                        .ui-col-5.no-padding-r
                            a.btn-sendSMS.btn-full(onclick="$(this).addClass('disabled');$(this).html('120秒后重试')") 发送验证码
                .ui-row-sm
                    label.ui-col-3.no-padding.sec-required 新密码：
                    .ui-col-9
                        input(type="password", placeholder="6-20位数字字母组合").input-full
                .ui-row-sm
                    label.ui-col-3.no-padding.sec-required 确认密码：
                    .ui-col-9
                        input(type="password", placeholder="请再次输入新密码").input-full
                .ui-row-sm
                    .ui-col-9.ui-col-offset-3
                        a.submit-btn(href="javascript:void(0);") 提交


    script#updateEmailModal(type='text/ractive')
        .popup-box
            .popup-form
                .ui-row-sm
                    label.ui-col-3.no-padding.sec-required 新邮箱：
                    .ui-col-9
                        input(type="text", placeholder="请输入邮箱").input-full
                .ui-row-sm
                    label.ui-col-3.no-padding.sec-required 验证码：
                    .ui-col-9
                        .ui-col-7.no-padding
                            input(type="text", placeholder="请输入验证码").input-full
                        .ui-col-5.no-padding-r
                            a.btn-sendSMS.btn-full(onclick="$(this).addClass('disabled');$(this).html('120秒后重试')") 发送验证码
                .ui-row-sm
                    .ui-col-9.ui-col-offset-3
                        a.submit-btn(href="javascript:void(0);") 提交
    script#changePwdModal(type='text/ractive')
        .popup-box
            .popup-form
                .ui-row-sm
                    label.ui-col-3.no-padding.sec-required 原密码：
                    .ui-col-9
                        input(type="text", placeholder="请输入原密码").input-full
                .ui-row-sm
                    label.ui-col-3.no-padding.sec-required 新密码：
                    .ui-col-9
                        input(type="password", placeholder="6-20位数字字母组合").input-full
                .ui-row-sm
                    label.ui-col-3.no-padding.sec-required 确认密码：
                    .ui-col-9
                        input(type="password", placeholder="请再次输入新密码").input-full
                .ui-row-sm
                    .ui-col-9.ui-col-offset-3
                        a.submit-btn(href="javascript:void(0);") 提交
    script#updatePhoneModal(type='text/ractive')
        .popup-box
            .popup-form
                .ui-row-sm
                    label.ui-col-3.no-padding.sec-required 新手机号：
                    .ui-col-9
                        input(type="text", placeholder="请输入新手机号码").input-full
                .ui-row-sm
                    label.ui-col-3.no-padding.sec-required 验证码：
                    .ui-col-9
                        .ui-col-7.no-padding
                            input(type="text", placeholder="请输入验证码").input-full
                        .ui-col-5.no-padding-r
                            a.btn-sendSMS.btn-full(onclick="$(this).addClass('disabled');$(this).html('120秒后重试')") 发送验证码
                .ui-row-sm
                    .ui-col-9.ui-col-offset-3
                        a.submit-btn(href="javascript:void(0);") 提交
    script#smrzModal(type='text/ractive')
        .popup-box
            .popup-form
                .ui-row-sm
                    label.ui-col-3.no-padding.sec-required 姓名：
                    .ui-col-9
                        input(type="text", placeholder="请输入个人真实姓名").input-full
                .ui-row-sm
                    label.ui-col-3.no-padding.sec-required 企业认证：
                    .ui-col-9
                        input(type="text", placeholder="请输入所属企业全称").input-full
                .ui-row-sm
                    label.ui-col-3.no-padding.sec-required 企业资料：
                    .ui-col-9
                        a.sec-blue-link 下载企业授权委托书模板
                        .ui-row-sm.no-margin
                            .ui-col-4.no-padding
                                .empty-item
                                    .upload-box
                                        input(type="file")
                                    span.title.sec-required 身份证正面
                            .ui-col-4.no-padding
                                .empty-item
                                    .upload-box
                                        input(type="file")
                                    span.title.sec-required 身份证反面
                            .ui-col-4.no-padding
                                .full-item
                                    a(href="#", data-lightbox="example-set")
                                        img(src=relativeRoot + "../images/manager/user-default.png")
                                    span.title.sec-required 企业授权委托书
                                    a.delete-btn 删除
                .ui-row-sm
                    .ui-col-9.ui-col-offset-3
                        a.submit-btn(href="javascript:void(0);") 提交

    script(type="text/javascript").
        require(['jquery', 'popup', 'lightbox', 'window', 'iCheck'], function ($, Popup, Lightbox, UIWindow) {
            // window.js begin
            $('#window1').click(function () {
                UIWindow.confirm({
                    type: 'success', //对话框类型，可选值为:'success','warning','error','confirm'
                    title: '接受报价', // 单独设置对话框标题 msg标题继承之
                    msgTitle: '接受报价后将达成交易,是否确认?',
                    // message: '接受报价后将达成交易,是否确认？', //消息内容
                    okText: '确定', //确定按钮文本内容
                    cancelText: '取消', //取消文本内容
                    cancelBtn:true,
                    msgTitleFontSize:'16px'
                }).then(function (result) {
                    console.log(result);
                });
            });
            $('#window2').click(function () {
                UIWindow.confirm({
                    type: 'error', //对话框类型，可选值为:'success','warning','error','confirm'
                    title: '拒绝报价', // 单独设置对话框标题 msg标题继承之
                    msgTitle: '拒绝报价后将关闭交易,是否确认?',
                    // message: '', //消息内容
                    okText: '确定', //确定按钮文本内容
                    cancelText: '取消', //取消文本内容
                    cancelBtn: true,
                    msgTitleFontSize: '16px'
                }).then(function (result) {
                    console.log(result);
                });
            });
            $('#window3').click(function () {
                UIWindow.confirm({
                    type: 'success', //对话框类型，可选值为:'success','warning','error','confirm'
                    title: '注册成功', // 单独设置对话框标题 msg标题继承之
                    msgTitle: '您已注册成功,是否进入个人中心?',
                    // message: '', //消息内容
                    okText: '确定', //确定按钮文本内容
                    cancelText: '取消', //取消文本内容
                    cancelBtn: true,
                    msgTitleFontSize: '16px'
                }).then(function (result) {
                    console.log(result);
                });
            });
            $('#window4').click(function () {
                UIWindow.confirm({
                    type: 'undo', //对话框类型，可选值为:'success','warning','error','confirm', 'undo'
                    title: '撤销订单', // 单独设置对话框标题 msg标题继承之
                    msgTitle: '撤销交易后将关闭交易,是否确认?',
                    // message: '', //消息内容
                    okText: '确定', //确定按钮文本内容
                    cancelText: '取消', //取消文本内容
                    cancelBtn: true,
                    msgTitleFontSize: '16px'
                }).then(function (result) {
                    console.log(result);
                });
            });


            // popup begin
            var initPopup = function () {
                var myPopup = new Popup({
                    width: '420px',
                    height: '420px',
                    template: '#findpwdModal',
                    data: {
                        title: "忘记密码"
                    }
                });
            };
            $('#findpwd').on('click', function () {
                initPopup();
            });

            var initPopup2 = function () {
                var myPopup = new Popup({
                    width: '420px',
                    height: '420px',
                    template: '#updateEmailModal',
                    data: {
                        title: "修改邮箱"
                    }
                });
            };
            $('#updateEmail').on('click', function () {
                initPopup2();
            });

            var initPopup3 = function () {
                var myPopup = new Popup({
                    width: '420px',
                    height: '420px',
                    template: '#changePwdModal',
                    data: {
                        title: "修改密码"
                    }
                });
            };
            $('#changePwd').on('click', function () {
                initPopup3();
            });

            var initPopup4 = function () {
                var myPopup = new Popup({
                    width: '420px',
                    height: '420px',
                    template: '#updatePhoneModal',
                    data: {
                        title: "修改手机号码"
                    }
                });
            };
            $('#updatePhone').on('click', function () {
                initPopup4();
            });

            var initPopup5 = function () {
                var myPopup = new Popup({
                    width: '500px',
                    height: '420px',
                    template: '#smrzModal',
                    data: {
                        title: "实名认证"
                    }
                });
                myPopup.on('complete', function (){
                    // 弹窗里面需要用 lightbox 需要自己绑一下事件
                    $('a[data-lightbox]').on('click', function (event) {
                        Lightbox.start($(event.currentTarget));
                        return false;
                    });
                })
            };
            $('#smrz').on('click', function () {
                initPopup5();
            });

        });