extends ../../layouts/managerLoginLayout
block content
    form.login-form
        .ui-row-sm.mt-80
            .ui-col-4.no-padding
                label.form-label.sec-required 手机号码:
            .ui-col-8.no-padding
                .ui-col-5
                    input(placeholder="请输入手机号", type="text")
        .ui-row-sm.mt-30
            .ui-col-4.no-padding
                label.form-label.sec-required 密码:
            .ui-col-8.no-padding
                .ui-col-5
                    input(placeholder="6-20位数字字母组合", type="password")
        .ui-row-sm
            .ui-col-8.no-padding.ui-col-offset-4
                .ui-col-5
                    a.btn-findpwd(href="#") 忘记密码
        .ui-row-sm.mb-120
            .ui-col-8.no-padding.ui-col-offset-4
                a.btn-submit.ml-10 登录