extends ../../layouts/managerLoginLayout
block content
    form.login-form
        .ui-row-sm.mt-80
            .ui-col-4.no-padding
                label.form-label.sec-required 手机号码:
            .ui-col-8.no-padding
                .ui-col-5
                    input(placeholder="请输入手机号", type="text")
        .ui-row-sm.mt-20
            .ui-col-4.no-padding
                label.form-label.sec-required 验证码:
            .ui-col-8.no-padding
                .ui-col-3.no-padding-r
                    input(placeholder="请输入验证码", type="text")
                .ui-col-2
                    a.btn-sendyzm 发送验证码
        .ui-row-sm.mt-20
            .ui-col-4.no-padding
                label.form-label.sec-required 设置密码:
            .ui-col-8.no-padding
                .ui-col-5
                    input(placeholder="6-20位数字字母组合", type="password")
        .ui-row-sm.mt-20
            .ui-col-4.no-padding
                label.form-label.sec-required 企业名称:
            .ui-col-8.no-padding
                .ui-col-5
                    input(placeholder="请输入所属企业名称", type="text")
        .ui-row-sm.mt-20
            .ui-col-4.no-padding
                label.form-label.sec-required 真实姓名:
            .ui-col-8.no-padding
                .ui-col-5
                    input(placeholder="请输入您的姓名", type="text")
        .ui-row-sm.mt-10.mb-20
            .ui-col-8.no-padding.ui-col-offset-4
                .ui-col-12
                    span
                        input(type="checkbox")
                        | 我已阅读并同意
                    a.sec-blue-link <<河马物流用户注册协议>>
        .ui-row-sm.mb-50
            .ui-col-8.no-padding.ui-col-offset-4
                a.btn-submit.ml-10 提交注册

    script(type="text/javascript").
        require(['jquery', 'iCheck'], function ($) {
            $('input[type="checkbox"]').iCheck();
        });