extends ../../layouts/managerLayout
block content
    .mt-20.mb-20.white-bg.pd-20

        .info-tabs
            a.cur 全部订单
            a 正在询价
            a 待确认报价
            a 执行中
            a 已完成

        .query-box.mt-20
            .ui-row-sm
                .ui-col-4.no-padding
                    label.ui-col-4.no-padding.text-center 订单号:
                    input.ui-col-8(type="text")
                .ui-col-4.no-padding
                    label.ui-col-4.no-padding.text-center 起始地:
                    input.ui-col-8(type="text")
                .ui-col-4.no-padding
                    label.ui-col-4.no-padding.text-center 目的地:
                    input.ui-col-8(type="text")
            .ui-row-sm
                .ui-col-4.no-padding
                    label.ui-col-4.no-padding.text-center 订单日期:
                    .scope.ui-col-8
                        input(type="text", placeholder="起始时间").mydate
                        span —
                        input(type="text", placeholder="结束时间").mydate
                .ui-col-4.no-padding
                    label.ui-col-4.no-padding.text-center 状态:
                    select.ui-col-8
                        option 全部
                .ui-col-4.no-padding
                    a.button-negative.fr(href='javascript:void(0);') 清空
                    a.button-positive.fr.mr-10(href='javascript:void(0);') 查询
        #recordList

    script#recordListTpl(type='text/ractive')
        .order-list.mt-20
            | {{#items:index}}
            .order-item
                .order-title
                    span.city 湖南长沙
                    i.icon.icon-arrows-right
                    span.city 上海罗津港
                    .order-no
                        span 订单:
                        a.sec-blue-link 201709092999093
                        span.date (2017-09-09 17:20)
                .order-content
                    //  如果只要一行给这个div 加上 .single-row  class
                    .ui-row-sm
                        .ui-col-4
                            .ui-row-sm
                                span 水泥/木材
                                span 200.00吨
                                span 期望运价:20.00元/吨
                            .ui-row-sm
                                span 要求到货时间:2017-09-09
                        .ui-col-2
                            .ui-row-sm
                                span 60.00元/吨
                        .ui-col-2
                            .ui-row-sm
                                span.orange ¥:12,000,00
                                span 元
                        .ui-col-2
                            .ui-row-sm
                                span 待确认报价
                        .ui-col-2
                            .ui-row-sm
                                a.sec-blue-link 确认
                                a.sec-blue-link 拒绝
            | {{/items}}

    script(type="text/javascript").
        require(['jquery', 'pagination', 'pairdate', 'pikaday.jquery', 'iCheck'], function ($, Pagination, Pairdate) {
            var pagination = new Pagination({
                target: "#recordList",
                template: "#recordListTpl",
                localItems: !{JSON.stringify(items)}
            });

            $('.mydate').pikaday({
                showTime: false
            });
        });