extends ../../layouts/managerLayout
block content
    .mt-20.mb-20.white-bg.pl-20.pr-20.pb-20
        .order-page-title
            label 查看评价
        .order-detal-box.sec-gray-bolder
            .ui-row-sm
                .ui-col-4
                    label.label.ui-col-4.no-padding 订单号:
                    span.ui-col-8 4567890987654356
                .ui-col-4
                    label.label.ui-col-4.no-padding 起始地:
                    span.ui-col-8 上海罗津港
                .ui-col-4
                    label.label.ui-col-4.no-padding 目的地:
                    span.ui-col-8 长沙壹号座品
            .ui-row-sm
                .ui-col-4
                    label.label.ui-col-4.no-padding 水货:
                    .ui-col-8
                        span 木材/水泥
                        span.ml-20 2000.00吨
                .ui-col-4
                    label.label.ui-col-4.no-padding 单价:
                    span.ui-col-8 60.00元/吨
                .ui-col-4
                    label.label.ui-col-4.no-padding 不含税总运费:
                    span.ui-col-8 1114000.00元/吨
        .order-evaluate.pt-10.pb-10
            .ui-row-sm.no-margin
                label.ui-col-1 服务评价:
                .ui-col-11
                    input(type="text", value="3.5", data-size="xs", disabled="disabled").kv-fa.rating-loading
            .ui-row-sm.no-margin
                label.ui-col-1 评价得分:
                .ui-col-11
                    span.score#myScore 3.5分
            .ui-row-sm.no-margin
                label.ui-col-12.detail 若不满意请选择原因(得分≤3分时必选)
        .sec-gray-bolder.order-evaluate-form.pt-10.pb-10
            table
                tr
                    td.name(width="15%") 运输船名123123
                    td
                        span
                            i.icon.icon-checked
                            | 货损货差
                    td(width="50%")
                        span 备注:
                        span 货物淋湿的比较严重
                tr
                    td.name(width="15%") 运输船名
                    td
                        span
                            i.icon.icon-checked
                            | 货损货差
                        span.ml-20
                            i.icon.icon-checked
                            | 延迟送达
                        span.ml-20
                            i.icon.icon-checked
                            | 服务态度差
                    td
                        span 备注:
                        span 货物淋湿的比较严重
        .btn-group.mt-20
            .cancel-btn 取消
            .submit-btn.ml-20 确定
    script(type="text/javascript").
        require(['jquery', 'iCheck', 'star-rating-fa'], function ($) {
            $('input[type="checkbox"]').iCheck();

            $('.kv-fa').rating({
                theme: 'krajee-fa',
                filledStar: '<i class="fa fa-star"></i>',
                emptyStar: '<i class="fa fa-star"></i>'
            });
        });