extends ../../layouts/managerLayout
block content
    .mt-20.mb-20.white-bg.pl-20.pr-20.pb-20
        .order-page-title
            label 查询运价
        .order-form
            .sec-gray-bolder.pt-15.pb-15.mt-15
                .form-group
                    label.form-label.sec-required 起始地:
                    .form-content
                        input(type="text", placeholder="请选择省市")
                .form-group.mt-10
                    label.form-label.sec-required 目的地:
                    .form-content
                        input(type="text", placeholder="请选择省市")
                .form-group.mt-10
                    label.form-label.sec-required 货物:
                    .form-content
                        input(type="text", placeholder="请输入货物名称").pull-left
                        input(type="text", placeholder="请输入货物重量").ml-20.pull-left
                        span.ml-20 吨
        .pane-blue.fare-detail.mt-20
            .ui-row-sm.no-margin
                span 最高运价:35.00元/吨,
                span.ml-5 最低运价:35.00元/吨,
                span.ml-5 仅参考
            .ui-row-sm.no-margin
                span 湖南长沙
                i.icon.icon-arrows-right
                span 上海罗泾港
                span.ml-80 水泥/木材
                span.ml-80 300.00吨
                span.ml-80 30.00元/吨(不含税)

        .submit-btn.btn-center.mt-20 查运价