extends ../../layouts/defaultLayout2
block stylesheets
    link(href=relativeRoot+"../css/common/index.min.css",type="text/css",rel="stylesheet")
block content
    .insurance
        .adv
        .bg-light
            .wrapper
                .ui-row-sm.mb-20
                    .ui-col-7-10
                        .second-title
                            span.title 湖南华菱保险经纪有限公司
                        .bg-white.pd-30
                            .insurance-item.red
                                .item-title 货物运输保险
                                .item-content
                                    span
                                        span.font-bold 产品:
                                        | 水路、铁路、公路、航空、联合货物运输保险、物流保险和管道运输货物保险优惠费率，
                                    span 满足客户、同行不同业务需求。
                                    span 填写投保信息单，即可完成全程投保。
                                    span 量身定制，重点客户VIP一对一全程服务。
                                    a(href="javascript:void(0)").btn-insurance 我要投保
                            .insurance-item.blue
                                .item-title 船舶保险
                                .item-content
                                    span
                                        span.font-bold 产品:
                                        | 沿海内河船舶保险、远洋船舶保险、渔船保险、船舶建造保险、集装箱保险、船东保障和赔偿责任保险等主险产品及部分附加险。
                                    span 优惠费率，满足客户、同行不同业务需求。
                                    span 安全快捷，为您的航运之旅保驾护航。
                                    span 专属保险顾问，全程理赔协助。
                                    a(href="javascript:void(0)").btn-insurance 我要投保
                    .ui-col-3-10
                        .second-title
                            span.title 保险咨询
                        .list
                            - var i = 0;
                            while (i < 7)
                                - i++;
                                a.item(href="#") 什么是船舶保险及船舶保险条款解读什么是船舶保险及船舶保险条款解读

                        .second-title
                            span.title 常见问题
                        .list
                            - var i = 0;
                            while (i < 7)
                                - i++;
                                a.item(href="#") 什么是船舶保险及船舶保险条款解读什么是船舶保险及船舶保险条款解读

    script#myModal(type='text/ractive')
        .insurance-modal
            .note 如需投保，请联系客服服务热线：
            .orange
                i.icon-tel
                span.tel 0730-8989721
                span.name (彭先生)


    script(type="text/javascript").
        require(['jquery', 'pagination', 'pairdate', 'popup', 'pikaday.jquery', 'iCheck'], function ($, Pagination, Pairdate, Popup) {

            $('.btn-insurance').on('click', function () {
                var myPopup = new Popup({
                    width: '410px',
                    height: '290px',
                    template: '#myModal',
                    data: {
                        hiddenTitle: true
                    }
                });
            });
        });