extends ../../layouts/defaultLayout2
block stylesheets
    link(href=relativeRoot+"../css/common/index.min.css",type="text/css",rel="stylesheet")
block content
    .added-services.clearfix
        .top
            .banner-wrap.clearfix
                .bg-img.added-services
                .clearfix
        .center
            .left
                .head
                    span 加油服务
                .item
                    ul
                        li
                            a(href="javascript:void(0)").cur
                                span.dotted
                                span.item-content 船舶保险种类，如何区分
                        li
                            a(href="javascript:void(0)")
                                span.dotted
                                span.item-content 什么是船舶保险及保险条款解读
                        li
                            a(href="javascript:void(0)")
                                span.dotted
                                span.item-content 船舶保险种类，如何区分
                        li
                            a(href="javascript:void(0)")
                                span.dotted
                                span.item-content 同一被保险人，两种货物，同一运输
                        li
                            a(href="javascript:void(0)")
                                span.dotted
                                span.item-content 货物运输保险是什么
                .head
                    span 维修服务
                .item
                    ul
                        li
                            a(href="javascript:void(0)")
                                span.dotted
                                span.item-content 船舶保险种类，如何区分
                        li
                            a(href="javascript:void(0)")
                                span.dotted
                                span.item-content 什么是船舶保险及保险条款解读
                        li
                            a(href="javascript:void(0)")
                                span.dotted
                                span.item-content 船舶保险种类，如何区分
                        li
                            a(href="javascript:void(0)")
                                span.dotted
                                span.item-content 同一被保险人，两种货物，同一运输
                        li
                            a(href="javascript:void(0)")
                                span.dotted
                                span.item-content 货物运输保险是什么
                .head
                    span 招聘服务
                .item
                    ul
                        li
                            a(href="javascript:void(0)")
                                span.dotted
                                span.item-content 船舶保险种类，如何区分
                        li
                            a(href="javascript:void(0)")
                                span.dotted
                                span.item-content 什么是船舶保险及保险条款解读
                        li
                            a(href="javascript:void(0)")
                                span.dotted
                                span.item-content 船舶保险种类，如何区分
                        li
                            a(href="javascript:void(0)")
                                span.dotted
                                span.item-content 同一被保险人，两种货物，同一运输
                        li
                            a(href="javascript:void(0)")
                                span.dotted
                                span.item-content 货物运输保险是什么
            .right
                .head 首页 > 加油服务
                .detail
                    span 中通快递（开曼）公司（NYSE:ZTO）今天公布了截至2016年9月30日的未经审计的第三季度财报。该公司第三季度营收23.531亿元人民币，同比增长66.6%；净利润5.472亿元人民币，同比增长156.8%。<br>
                    span - 营收为23.531亿元人民币（约合3.53亿美元），同比增长66.6%。<br>
                    span - 毛利润为8.525亿元人民币（约合1.28亿美元），同比增长93.9%，高于去年同期的4.397亿元人民币。<br>

                    span - 净利润为5.472亿元人民币（约合8210万美元），同比增长156.8%，高于去年同期的2.131亿元人民币。<br>

                    span - 调整后未计利息、税项、折旧及摊销前的利润（EBITDA）为8.331亿元人民币（约合1.25亿美元），同比增长108.2%，高于去年同期的4.001亿元人民币。<br>

                    span - 调整后净利润为5.474亿元人民币（约合8210万美元），同比增长107.9%，高于去年同期的2.633亿元人民币。<br>
                    span - 每股美国存托股（ADS）基本和摊薄后收益均为0.78元人民币（约合0.12美元），高于去年同期的0.34元人民币。<br>
                    span - 来自经营活动的净现金为8.317亿元人民币（约合1.28亿美元），高于去年同期的3.912亿元人民币。<br>
                    span 第三季度运营业绩要点：<br>
                    span - 包裹量为11.02亿，较去年同期的7.32亿增长50.5%。<br>
                    span - 截止2016年9月30日，快递点数量约为2.5万个。<br>
                    span - 截止2016年9月30日，网络合作伙伴数量超过8500家，其中包括超过3500家直接网络合作伙伴和超过5000家非直接网络合作伙伴。<br>

                    span - 截止2016年9月30日，长途运输车辆的数量超过3600辆，其中包括约2400辆自有车辆，以及约1200辆来自桐庐通泽物流有限公司的车辆。通泽物流是一家专门为中通提供服务的运输公司。<br>
                    span - 截止2016年9月30日，自有卡车数量增长至超过2400辆，高于6月30日的2100辆。其中有超过820辆是15至17米长的大载重卡车，高于6月30日时的超过680辆。<br>

                    span - 截止2016年9月30日，分拣中心之间的长途运输线路超过1900条。<br>
                    span - 截止2016年9月30日，分拣中心总数为74个，其中68个为中通自有，6个来自中通的网络合作伙伴。（编译/翼飞）<br>

    .clearfix
    script(type='text/javascript').
        require(["jquery", 'panel', 'pagination', 'ractive', 'placeholder', 'window', 'choice-ganged', 'roll', "slick", 'jquery-fly', 'slidesjs'],
                function ($, Panel, Pagination, Ractive, placeholder, UIWindow, ChoiceGanged) {

                });