extends ../../layouts/defaultLayout2
block stylesheets
    link(href=relativeRoot+"../css/common/index.min.css",type="text/css",rel="stylesheet")
block content
    .market-inf.clearfix
        .top
            .banner-wrap.clearfix
                .bg-img
                .clearfix
        .center.mb-40
            .main.clearfix
                .head
                    span 要文推荐
                img(src="/images/common/market-inf-main.jpg" style="float:left")
                .item-main
                    .ui-row-sm
                        .ui-col-6
                            a.news-item(href="javascript:void(0)")
                                span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                span.date 2016-12-07
                            a.news-item(href="javascript:void(0)")
                                span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                span.date 2016-12-07
                            a.news-item(href="javascript:void(0)")
                                span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                span.date 2016-12-07
                            a.news-item(href="javascript:void(0)")
                                span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                span.date 2016-12-07
                            a.news-item(href="javascript:void(0)")
                                span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                span.date 2016-12-07
                        .ui-col-6
                            a.news-item(href="javascript:void(0)")
                                span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                span.date 2016-12-07
                            a.news-item(href="javascript:void(0)")
                                span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                span.date 2016-12-07
                            a.news-item(href="javascript:void(0)")
                                span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                span.date 2016-12-07
                            a.news-item(href="javascript:void(0)")
                                span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                span.date 2016-12-07
                            a.news-item(href="javascript:void(0)")
                                span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                span.date 2016-12-07


            .ui-row-sm
                .ui-col-6
                    .main.clearfix
                        .head
                            span 行业动态
                        .item-dynamic
                            .ui-row-sm
                                .ui-col-12
                                    a.news-item(href="javascript:void(0)")
                                        span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                        span.date 2016-12-07
                                    a.news-item(href="javascript:void(0)")
                                        span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                        span.date 2016-12-07
                                    a.news-item(href="javascript:void(0)")
                                        span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                        span.date 2016-12-07
                                    a.news-item(href="javascript:void(0)")
                                        span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                        span.date 2016-12-07
                                    a.news-item(href="javascript:void(0)")
                                        span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                        span.date 2016-12-07
                                    a.news-item(href="javascript:void(0)")
                                        span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                        span.date 2016-12-07

                .ui-col-6
                    .main.clearfix
                        .head
                            span 行业动态
                        .item-dynamic
                            .ui-row-sm
                                .ui-col-12
                                    a.news-item(href="javascript:void(0)")
                                        span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                        span.date 2016-12-07
                                    a.news-item(href="javascript:void(0)")
                                        span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                        span.date 2016-12-07
                                    a.news-item(href="javascript:void(0)")
                                        span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                        span.date 2016-12-07
                                    a.news-item(href="javascript:void(0)")
                                        span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                        span.date 2016-12-07
                                    a.news-item(href="javascript:void(0)")
                                        span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                        span.date 2016-12-07
                                    a.news-item(href="javascript:void(0)")
                                        span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                        span.date 2016-12-07

            .main.clearfix
                .head
                    span 行业动态
                .item-dynamic
                    .ui-row-sm
                        .ui-col-6
                            a.news-item(href="javascript:void(0)")
                                span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                span.date 2016-12-07
                            a.news-item(href="javascript:void(0)")
                                span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                span.date 2016-12-07
                            a.news-item(href="javascript:void(0)")
                                span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                span.date 2016-12-07
                            a.news-item(href="javascript:void(0)")
                                span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                span.date 2016-12-07
                            a.news-item(href="javascript:void(0)")
                                span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                span.date 2016-12-07
                            a.news-item(href="javascript:void(0)")
                                span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                span.date 2016-12-07
                        .ui-col-6
                            a.news-item(href="javascript:void(0)")
                                span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                span.date 2016-12-07
                            a.news-item(href="javascript:void(0)")
                                span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                span.date 2016-12-07
                            a.news-item(href="javascript:void(0)")
                                span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                span.date 2016-12-07
                            a.news-item(href="javascript:void(0)")
                                span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                span.date 2016-12-07
                            a.news-item(href="javascript:void(0)")
                                span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                span.date 2016-12-07
                            a.news-item(href="javascript:void(0)")
                                span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                span.date 2016-12-07
            .main.clearfix
                .head
                    span 公司新闻
                .item-dynamic
                    .ui-row-sm
                        .ui-col-6
                            a.news-item(href="javascript:void(0)")
                                span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                span.date 2016-12-07
                            a.news-item(href="javascript:void(0)")
                                span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                span.date 2016-12-07
                            a.news-item(href="javascript:void(0)")
                                span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                span.date 2016-12-07
                            a.news-item(href="javascript:void(0)")
                                span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                span.date 2016-12-07
                            a.news-item(href="javascript:void(0)")
                                span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                span.date 2016-12-07
                            a.news-item(href="javascript:void(0)")
                                span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                span.date 2016-12-07
                        .ui-col-6
                            a.news-item(href="javascript:void(0)")
                                span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                span.date 2016-12-07
                            a.news-item(href="javascript:void(0)")
                                span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                span.date 2016-12-07
                            a.news-item(href="javascript:void(0)")
                                span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                span.date 2016-12-07
                            a.news-item(href="javascript:void(0)")
                                span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                span.date 2016-12-07
                            a.news-item(href="javascript:void(0)")
                                span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                span.date 2016-12-07
                            a.news-item(href="javascript:void(0)")
                                span 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                span.date 2016-12-07
    .clearfix
    script(type='text/javascript').
        require(["jquery", 'panel', 'pagination', 'ractive', 'placeholder', 'window', 'choice-ganged', 'roll', "slick", 'jquery-fly', 'slidesjs'],
                function ($, Panel, Pagination, Ractive, placeholder, UIWindow, ChoiceGanged) {

                });