extends ../../layouts/defaultLayout2
block stylesheets
    link(href=relativeRoot+"../css/common/index.min.css",type="text/css",rel="stylesheet")
block content
    .added-services.clearfix
        .top
            .banner-wrap.clearfix
                .bg-img.freight
                .clearfix
        .center.clearfix
            .left
                .head
                    span 运价指数
                .item
                    ul
                        li
                            a(href="javascript:void(0)")
                                span.dotted
                                span.item-content 岳阳城陵矶---霞凝港  10元/吨
                        li
                            a(href="javascript:void(0)").cur
                                span.dotted
                                span.item-content 江苏江阴港---武汉港  20元/吨
                        li
                            a(href="javascript:void(0)")
                                span.dotted
                                span.item-content 岳阳城陵矶---霞凝港  10元/吨
                        li
                            a(href="javascript:void(0)")
                                span.dotted
                                span.item-content 岳阳城陵矶---霞凝港  10元/吨
                        li
                            a(href="javascript:void(0)")
                                span.dotted
                                span.item-content 岳阳城陵矶---霞凝港  10元/吨
            .right
                .head 首页 > 运价指数
                .detail
                    img.bg-font(src="/images/common/freight-chart.png" style="width:100%").mb-20
                    span - 调整后净利润为5.474亿元人民币（约合8210万美元），同比增长107.9%，高于去年同期的2.633亿元人民币。<br>
                    span - 每股美国存托股（ADS）基本和摊薄后收益均为0.78元人民币（约合0.12美元），高于去年同期的0.34元人民币。<br>
                    span - 来自经营活动的净现金为8.317亿元人民币（约合1.28亿美元），高于去年同期的3.912亿元人民币。<br>
                    span 第三季度运营业绩要点：<br>
                    span - 包裹量为11.02亿，较去年同期的7.32亿增长50.5%。<br>
                    span - 截止2016年9月30日，快递点数量约为2.5万个。<br>
                    span - 截止2016年9月30日，网络合作伙伴数量超过8500家，其中包括超过3500家直接网络合作伙伴和超过5000家非直接网络合作伙伴。<br>

                    span - 截止2016年9月30日，长途运输车辆的数量超过3600辆，其中包括约2400辆自有车辆，以及约1200辆来自桐庐通泽物流有限公司的车辆。通泽物流是一家专门为中通提供服务的运输公司。<br>
                    span - 截止2016年9月30日，自有卡车数量增长至超过2400辆，高于6月30日的2100辆。其中有超过820辆是15至17米长的大载重卡车，高于6月30日时的超过680辆。<br>

                    span - 截止2016年9月30日，分拣中心之间的长途运输线路超过1900条。<br>
                    span - 截止2016年9月30日，分拣中心总数为74个，其中68个为中通自有，6个来自中通的网络合作伙伴。（编译/翼飞）<br>

    .clearfix
    script(type='text/javascript').
        require(["jquery", 'panel', 'pagination', 'ractive', 'placeholder', 'window', 'choice-ganged', 'roll', "slick", 'jquery-fly', 'slidesjs'],
                function ($, Panel, Pagination, Ractive, placeholder, UIWindow, ChoiceGanged) {

                });