extends ../../layouts/defaultLayout
block stylesheets
    link(href=relativeRoot+"../css/common/index.min.css",type="text/css",rel="stylesheet")
block content

    .wrapper
        #bannerWrap.banner-wrap
            #banner.banner.no-margin

    .home.mt-460
        .bg-light
            .notification
                i
                ul
                    li.roll-box
                        #rollText1
                            a(href="#") 4万多香港市民集会反“港独”撑释法唱歌喊口号1
                            a(href="#") 4万多香港市民集会反“港独”撑释法唱歌喊口号2
                            a(href="#") 4万多香港市民集会反“港独”撑释法唱歌喊口号3
                    li.roll-box
                        #rollText2
                            a(href="#") 4万多香港市民集会反“港独”撑释法唱歌喊口号21
                            a(href="#") 4万多香港市民集会反“港独”撑释法唱歌喊口号22
                            a(href="#") 4万多香港市民集会反“港独”撑释法唱歌喊口号23
                    li.roll-box
                        #rollText3
                            a(href="#") 4万多香港市民集会反“港独”撑释法唱歌喊口号31
                            a(href="#") 4万多香港市民集会反“港独”撑释法唱歌喊口号32
                            a(href="#") 4万多香港市民集会反“港独”撑释法唱歌喊口号33

        .bg-white
            .wrapper.total
                .total-item.orange
                    .icon-box
                        i.icon.icon-bid
                    .desc-box
                        span.num 128
                        span 累计发标数（单）
                .total-item.blue
                    .icon-box
                        i.icon.icon-order
                    .desc-box
                        span.num 95
                        span 累计成交订单数（单）
                .total-item.orange
                    .icon-box
                        i.icon.icon-waybill
                    .desc-box
                        span.num 74
                        span 累计完成运单数（单）
                .total-item.blue
                    .icon-box
                        i.icon.icon-waybill-q
                    .desc-box
                        span.num 169
                        span 累计完成运单量（吨）
                .total-item.orange
                    .icon-box
                        i.icon.icon-money
                    .desc-box
                        span.num 236
                        span 累计完成交易额（万元）

        .bg-light.pt-20.clearfix
            .wrapper.adv-and-tools
                .row
                    .left
                        img(src= relativeRoot+ "../images/common/adv.jpg")
                    .right
                        .search-input
                            input(type="text", placeholder="请输入您的订单号")
                            a.btn-search 查询
                        .tools
                            .t-item
                                .t-icon
                                    i.icon.icon-location
                                span 随时随地下单
                            .t-item
                                .t-icon
                                    i.icon.icon-tailafter
                                span 订单实时跟踪
                            .t-item
                                .t-icon
                                    i.icon.icon-service
                                span 优质服务保障
            .wrapper
                .row
                    .left
                        .second-title
                            span.title 成交动态
                        .deal-content
                            #rollDiv2
                                - var i = 0;
                                while (i < 15)
                                    - i++;
                                        a.item
                                            span.w-15 17:26
                                            span.w-35 185****88883
                                            span 委托了60吨2
                                            span.text-right 正在询价1


                    .right
                        .second-title
                            span.title 中标公告
                        .bidder-content
                            div.roll-box
                                #rollDiv
                                    - var i = 0;
                                    while (i < 9)
                                        - i++;
                                        a.b-item
                                            span.font-orange 用户名：15869662699
                                            span 货物名称：道砟
                                            span 用户名：HGHJK5423
                                            span 时间：2016-09-12
                                            .user-pic
                                                i.icon.icon-user-default
                                            i.icon-bid-ok
            .wrapper
                .row
                    .left
                        .second-title
                            span.title 市场资讯
                        .news-content
                            a.news-item-top1(href="javascript:void(0)")
                                img(src= relativeRoot+ "../images/common/adv.jpg")
                                span.title 信用卡滞纳金取消！对你有什么好处？
                                span.content 央行今年年中发布了《关于信用卡业务有关事项的通知》，通知指出，从2017年1月1日起，取消信用卡滞纳金，对于持卡人违约逾期未还款的行为，发卡机构应与持卡人通过协议约定是否收取违约金，以及相关收取方式和标准也就是说，从明年1月1日起，信用卡滞纳金就取消了，不过这并不等于信用卡逾期不用罚钱，只是滞纳金改成违约金了，至于违约金怎么央行今年年中发布了《关于信用卡业务有关事项的通知》，央行今年年中发布了《关于信用卡业务有关事项的通知》，央行今年年中发布了《关于信用卡业务有关事项的通知》，
                            .news-list
                                .ui-row-sm
                                    .ui-col-6
                                        a.news-item(href="javascript:void(0)") 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                        a.news-item(href="javascript:void(0)") 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                        a.news-item(href="javascript:void(0)") 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                        a.news-item(href="javascript:void(0)") 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                    .ui-col-6
                                        a.news-item(href="javascript:void(0)") 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                        a.news-item(href="javascript:void(0)") 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                        a.news-item(href="javascript:void(0)") 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                                        a.news-item(href="javascript:void(0)") 浦东机场摆渡车上究竟发生了什么浦东机场摆渡车上究竟发生了什么
                    .right
                        .second-title
                            span.title 河马指数
                        .exponent-content
                            #chart.chart
                                - var i = 0;
                                while i < 3
                                    - i++
                                    img(src=relativeRoot+"../images/common/exponent.jpg")
            .clearfix.mb-20
        .bg-white
            .wrapper
                .app-adv.mt-20
                    img(src= relativeRoot + "../images/common/app-hz.jpg")
                    img(src= relativeRoot + "../images/common/qrcode.jpg").qrcode
                .app-adv.mt-20.mb-40
                    img(src= relativeRoot + "../images/common/app-cys.jpg")
                    img(src= relativeRoot + "../images/common/qrcode.jpg").qrcode


    script(type='text/javascript').
        require(["jquery", 'panel', 'pagination', 'ractive', 'placeholder', 'window', 'choice-ganged', 'roll', "slick", 'jquery-fly', 'slidesjs', 'roll'],
                function ($, Panel, Pagination, Ractive, placeholder, UIWindow, ChoiceGanged) {

                    var str1 = "";
                    var list = [
                        {links: "#", imgPathView: "../../../images/common/banner1.png"},
                        {links: "#", imgPathView: "../../../images/common/banner2.png"},
                        {links: "#", imgPathView: "../../../images/common/banner3.png"}
                    ];
                    for (var i = 0; i < list.length; i++) {
                        var advert = list[i];
                        str1 = str1 + "<a href='" + advert.links + "' target='_blank'><div class='item' style='background-image:url(" + advert.imgPathView + ");'></div></a>";
                    }
                    if (str1 != "") {
                        $('#banner').html(str1);
                    }
                    $(".banner").slick({
                        dots: true,
                        infinite: true,
                        speed: 300,
                        autoplay: true,
                        slidesToShow: 1,
                        arrows: false
                    });

                    $('#chart').slidesjs({
                        //width: 780,
                        //height: 800,
                        navigation: {
                            active: true
                        },
                        pagination: {
                            active: false
                        }
                    });

                    $('#rollDiv').roll({height:330, width:420, time:3000});
                    $('#rollDiv2').rollForever({height:350, width:660, time:30});

                    $('#rollText1').roll({height:40, width:373, time:3000});
                    $('#rollText2').roll({height:40, width:373, time:3000});
                    $('#rollText3').roll({height:40, width:373, time:3000});
                });