extends ../layouts/managerLayout
block content
    .mt-100.mb-320
        #testTinymce
    .mt-20
        #edit23
    script(type="text/javascript").
        require(['jquery' , 'htmleditor', 'tinymce'],function($, htmleditor){

            tinymce.init({
                selector: '#testTinymce'
            });

            htmleditor({
                selector: '#edit23',
                height:350,
                imageUploadUrl:''
            });
        });