extends ../layouts/managerLayout
block content
    div(style="text-align: center;height: 50px;padding-top: 50px;")
        input#input-1(type="radio")
        input#input-2(type="radio",checked="checked")
        input#input-3(type="radio",disabled="disabled")
        input#input-4(type="radio",checked="checked",disabled="disabled")
    script(type="text/javascript").
        require(['jquery','iCheck'],function($){
            $('input[id^=input]').iCheck();
        });