extends ../layouts/managerLayout
block content
    div.mt-20
    a#tooltip(title="我需要弹出点提示内容",style="margin-left:300px;") 测试锚点
    style.
        .base-tooltip .ui-tooltip-content{

        }
    div(style="margin-top:300px")
    script(type="text/javascript").
        require(["jquery","tooltip"],function(){
           $(function(){
               $("#tooltip").tooltip({
                   placement:'top',
                   customClass:'base-tooltip'
               })
            });
        });