extends ../layouts/managerLayout
block stylesheets
    link(href=relativeRoot+"../css/lib/pikaday/pikaday.css",rel="stylesheet",type="text/css")
block content
    .mt-100.mb-320
        label 单独日期：
        input(type="text").mydate

        label.ml-320 日期范围的：
        input(type="text")#begin-date
        input(type="text")#end-date

        a.sec-blue-link 重置日期组件

    script(type="text/javascript").
        require(["jquery", "pairdate", "pikaday.jquery"], function ($, Pairdate) {
            var picker = $('.mydate').pikaday({
                showTime:false
            });

            Pairdate.init('#begin-date', '#end-date', {showTime:false});

            $('.sec-blue-link').on('click', function (){
                Pairdate.clear();
            });
        });