.bg-dark
    .wrapper
        .wrapper-top
            .pull-left
                span 您好，欢迎来到河马物流！
                a(href="#") 免费注册

            ul.pull-right
                li
                    a(href="#") APP下载
                li
                    a(href="#") 帮助中心
                li
                    span.ml-12 客服热线：
                    span.orange 400-905-7515
                    span （8:00-17:00）

.wrapper
    .index-top
        a(href="#")
            i.icon-top-logo
        a.btn-login(href="#") 货主登陆
.clearfix
.wrapper
    ul.index-nav
        li.cur
            a(href="") 首页
        li
            a(href="") 在线竞标
        li
            a(href="") 保险服务
        li
            a(href="") 增值服务
        li
            a(href="") 河马指数
        li
            a(href="") 市场资讯
    .form-box
        .box-title
            label 询价
            span 指导价来源于真实订单
        .box-content
            form
                .row
                    label 货点
                    input(type="text")
                .row
                    label 卸点
                    input(type="text")
                .row
                    label 货物
                    input(type="text")
                .row
                    label 吨位
                    input(type="text")
                a.btn-submit 查运价
                a.btn-submit2 委托运输
.clearfix

script#myModal(type='text/ractive')
    .bid-modal.hz
        .right
            .b-title.mt-120 注册成为货主
            .b-title.mt-10 为您提供优质服务
            .div-qrcode.mt-40
                img(src=relativeRoot + "../images/common/qrcode.jpg")
            .b-note.mt-10 【扫一扫，开始下单】

script(type='text/javascript').
    require(["jquery", 'popup'], function ($, Popup) {
        $('.btn-submit').on('click', function () {
            var myPopup = new Popup({
                width: '768px',
                height: '568px',
                template: '#myModal',
                data: {
                    hiddenTitle: true
                }
            });
        });
    });
