.bg-dark
    .wrapper
        .wrapper-top
            .pull-left
                span 您好，欢迎来到河马物流！
                a(href="#") 免费注册

            ul.pull-right
                li
                    a(href="#") APP下载
                li
                    a(href="#") 帮助中心
                li
                    span.ml-12 客服热线：
                    span.orange 400-905-7515
                    span （8:00-17:00）

.wrapper
    .index-top
        a(href="#")
            i.icon-top-logo
        a.btn-login(href="#") 货主登陆
.clearfix
.wrapper
    ul.index-nav
        li.cur
            a(href="") 首页
        li
            a(href="") 在线竞标
        li
            a(href="") 保险服务
        li
            a(href="") 增值服务
        li
            a(href="") 河马指数
        li
            a(href="") 市场资讯

.clearfix

script(type='text/javascript').
    require(["jquery"], function ($) {

    });
